@model List<Podcast>

@{
    ViewData["Title"] = "Browse Podcasts";
}

<h1 class="display-4">Browse Podcasts</h1>

<div class="pod-container">
    <div class="pod-content">

        <div class="pod-list">

            @foreach (Podcast p in Model)
            {
                <div class="browse-pod-container">
                    <div class="browse-pod-content">
                        <a asp-action="About" asp-route-podcastID="@p.PodcastID">
                            @* art *@
                            <img class="pod-art" src="@p.ImageURL" height="175" />

                            @* TODO: set width of tiles and wrap text *@
                            <div class="browse-pod-info">
                                @* name *@
                                <div class="pod-name">@p.Name</div>

                                @if (p.AvgRating > 0)
                                {
                                    @* loop through rating and display stars for average rating *@
                                    <div class="avg-rating">
                                        PodSquad Rating: &nbsp;
                                        @for (int i = 1; i <= p.AvgRating; i++)
                                        {
                                            <span class="glyphicon glyphicon-star"></span>
                                        }

                                    </div>
                                }


                            </div>
                        </a>
                    </div>
                </div>
            }

        </div>

    </div>
</div>

