<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PodSquad</title>

    @* for bootstrap glyphicons *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="main-container">

        <div class="banner-container">
            <div class="banner"></div>
        </div>


        <div class="main-content">


            @* HEADER *@
            <header>
                @using Microsoft.AspNetCore.Identity
                @inject SignInManager<AppUser> signInManager

                <div class="header-container">
                    @* logo *@
                    <div class="logo">
                        PodSquad
                    </div>


                    @if (signInManager.IsSignedIn(User))
                    {
                        @* display user name and icon to logged in users *@
                        <a class="logout-button header-button btn btn-outline-light" asp-controller="Account" asp-action="Logout">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="username">@User.Identity.Name</span>
                            <span class="logout">Logout</span>
                        </a>
                    }
                    else
                    {
                        @* display register and login buttons to users not logged in *@
                        <a class="header-button btn btn-outline-light" asp-controller="Account" asp-action="Login">Login</a>
                        <a class="header-button btn btn-outline-light" asp-controller="Account" asp-action="CreateAccount">Create Account</a>
                    }


                    @* navigation *@
                    <nav class="text-center">
                        <div class="navigation">
                            <a asp-controller="Home" asp-action="Index"><div>Home</div></a>
                            <a asp-controller="Podcast" asp-action="Browse"><div>Browse</div></a>
                            <a asp-controller="Podcast" asp-action="Queue"><div>My Queue</div></a>
                            <a asp-controller="Podcast" asp-action="Add"><div>Recommend a Pod</div></a>
                            <a asp-controller="Forum" asp-action="Index"><div>Forum</div></a>
                        </div>
                    </nav>

                </div>
            </header>



            @* VIEW LAYOUT *@
            <div class="page-container">
                <div class="content-container">
                    <div class="content">

                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>

                    </div>
                </div>
            </div>



            @* FOOTER *@
            <footer class="text-muted">
                <hr />
                <div class="container">
                    &copy; 2021 - PodSquad - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>

        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>