/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #50ffef;
    text-decoration: none;
}

    a:hover {
        color: #444444;
        text-decoration: none;
    }

.btn {
    border-radius: 30px;
    padding: .375rem 1.2rem;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
    position: relative;
    min-height: 100%;
    /*    font-family: 'Poppins', sans-serif;*/
}

.banner-container {
    position: absolute;
    height: auto;
    width: 75%;
    margin: auto;
    right: 0;
    left: 0;
    top: 13%;
    bottom: 60px;
    z-index: -1;
}

.banner {
    background-color: rgba(68, 68, 68, 0.1);
    width: 100%;
    margin: 0 auto;
    z-index: -1;
    height: 100%;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 60px; /* height of footer */
    background: rgb(12,28,49);
    background: linear-gradient(25deg, rgba(12,28,49,1) 32%, rgba(24,49,80,1) 75%, rgba(23,61,83,1) 100%);
    backdrop-filter: blur(5px);
}

.main-content {
    margin-top: 60px;
    margin-left: 120px;
    margin-right: 120px;
    color: #f0f0f0;
}

footer {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    margin-left: -120px;
    margin-right: -120px;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

hr {
    width: 90% !important;
    background-color: #CEE2FF !important;
    margin: 0 auto;
    /* fade */
    border: 0;
    height: 2px;
    background: #9CF;
    background-image: linear-gradient(to right, #0c1c31, #fefefe, #0c1c31);
}


/* ----------- HEADER ----------- */

.header-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo {
    margin-left: 15px;
    font-size: 2.5em;
}

/* TODO: vertically align buttons */
.header-button {
    margin-right: 15px;
    float: right;
    bottom: 40px;
    position: relative;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

    .logout-button {
        display: inline-block;
    }

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    line-height: 50px;
    border-radius: 30px;
    background-color: #f0f0f0;
}

    .navigation > a {
        color: #0c1c31 !important;
    }

/* ----------- PAGE CONTENT ----------- */

.page-container {
    margin: 30px;
}

.content-container {
    padding: 20px 40px 40px 40px;
    border-radius: 15px;
}

.content {
    width: 90%;
    margin: auto;
}

.trail {
    position: relative;
    margin-bottom: 20px;
    line-height: 1.1em;
    left: -20px;
}

.trail-icon {
    vertical-align: middle;
    margin-right: 3px;
    font-size: 0.8em;
}

.trail-name {
    vertical-align: middle;
    font-size: 1.1em;
}


/* ----------- FORMS ----------- */

.form-container {
    width: 70%;
}

.form-content {
    padding: 15px;
}

.text-danger {
    font-weight: 400;
}

form button {
    width: 50%;   
}

/* hidden inputs for data storage */
.hidden {
    visibility: hidden !important;
}


/* ----------- ABOUT PODCAST ----------- */

.pod-container {
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    background-color: rgba(108, 122, 137, 0.1);
    -webkit-box-shadow: -1px 1px 15px 2px rgba(0,0,0,0.51);
    box-shadow: -1px 1px 15px 2px rgba(0,0,0,0.51);
    /*
    background: rgb(14,90,93);
    background: radial-gradient(circle, rgba(14,90,93,1) 13%, rgba(14,76,85,1) 62%, rgba(14,54,71,1) 100%);
    -webkit-box-shadow: -1px 1px 35px 5px rgba(20,20,20,0.51); 
    box-shadow: -1px 1px 35px 5px rgba(20,20,20,0.51);

    */
}

    .pod-content {
        padding: 20px;
    }

        .pod-art-container {
            padding: 10px;
        }

            .pod-art-content {
                width: 325px;
                height: 325px;
                margin: 0 auto;
            }

                .pod-art {
                    vertical-align: middle;
                    border-style: none;
                    border-radius: 50px;
                    box-shadow: -1px 1px 15px 2px rgba(0,0,0,0.51);
                }

        .pod-info-container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .pod-info {
                position: relative;
                padding: 10px;
            }

                .pod-buttons {
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-evenly;
                }

                    .pod-button {
                        color: #0e3e4c !important;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        padding-right: 15px;
                        padding-left: 15px;
                    }


        .reviews-list-container {
            width: 100%;
            margin-top: 50px;
        }


        .reviews {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

.review-container {
    width: 275px;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
    background: rgb(14,90,93);
    background: linear-gradient(51deg, rgba(14,90,93,1) 5%, rgba(14,76,85,1) 25%, rgba(14,68,80,1) 43%, rgba(14,62,76,1) 61%, rgba(14,54,71,1) 81%);
    box-shadow: -1px 1px 35px 5px rgba(20,20,20,0.51);
}

                .review-content {
                    padding: 10px;
                    text-align: center;
                }



/* ----------- BROWSE PODCAST ----------- */

.pod-list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

    .browse-pod-container {
        padding: 15px;
    }

    .browse-pod-content {
        margin: 0 auto;
        text-align: center;
    }

    .browse-pod-info {
        margin-top: 10px;
        text-align: center;
    }

        .pod-name {
            font-size: larger;
            font-weight: 600;
        }




/* ----------- ADD REVIEW ----------- */

.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

    .rating > label {
        float: right;
        display: inline;
        padding: 0;
        margin: 0;
        position: relative;
        width: 1.1em;
        cursor: pointer;
        color: #000;
    }

        .rating > label:hover,
        .rating > label:hover ~ label,
        .rating > input.radio-btn:checked ~ label {
            color: transparent;
        }

            .rating > label:hover:before,
            .rating > label:hover ~ label:before,
            .rating > input.radio-btn:checked ~ label:before,
            .rating > input.radio-btn:checked ~ label:before {
                content: "\2605";
                position: absolute;
                left: 0;
                color: #FFD700;
            }


/* ----------- FORUM ----------- */

.create-post {
    text-align: right;
    color: black !important;
}

.post-container-base {
    background-color: #41b5d7;
}

.post-container {

}

.post-list {
    padding: 20px;
}

.separator {
    height: 15px;
}

.right {
    text-align: right;
}

/* ----------- THREAD ----------- */

.thread-container {
    width: 100%;
    position: relative;
    background-color: white;
}

.thread-content {

}

.post-container {
    padding: 10px;
    /*    background-color: rgba(108, 122, 137, 0.1);*/
    -webkit-box-shadow: -1px 1px 15px 2px rgba(0,0,0,0.51);
    box-shadow: -1px 1px 15px 2px rgba(0,0,0,0.51);

    /* gradient */
    background: rgb(97,45,253);
    background: linear-gradient( 0deg, rgba(97,45,253,0.5) 5%, rgba(86,69,244,0.5) 15%, rgba(81,82,239,0.5) 26%, rgba(77,92,235,0.5) 34%, rgba(72,103,230,0.5) 40%, rgba(67,114,226,0.5) 45%, rgba(62,126,221,0.5) 51%, rgba(53,147,213,0.5) 61%, rgba(48,159,209,0.5) 67%, rgba(44,169,205,0.5) 73%, rgba(39,180,200,0.5) 80%, rgba(37,187,198,0.5) 87%, rgba(34,193,195,0.5) 100%);
}

.post-content {
    width: 100%;
    padding: 15px;
}

.thread-text {
    width: 100%;
}

.thread-info {
    display: inline-block;
    color: #444444;
    font-size: 0.8em;
    margin-top: 8px;
}

.thread-replies {

}

.reply-container {
    margin-left: 30px;
    background-color: #999999;
}

.reply-content {
    padding: 10px;
    background-color: #f0f0f0;
    color: black;
}

.reply-header {
    font-weight: 600;
}

.reply-button {
    display: inline-block;
    float: right;
}

.reply-form-container {
    width: 93%;
    margin: auto;
}