@model LoginVM

@{
    ViewData["Title"] = "Login";
}

<h1 class="display-4">Login</h1>


<div class="form-container">
    <div class="form-content">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form method="post" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">

            <div class="form-group row">
                <label for="username">
                    Username: &nbsp;&nbsp;
                    <span asp-validation-for="Username" class="text-danger"></span>
                </label>
                <input id="username" class="form-control" asp-for="Username" placeholder="Your username" />
            </div>

            <div class="form-group row">
                <label for="password">
                    Password: &nbsp;&nbsp;
                    <span asp-validation-for="Password" class="text-danger"></span>
                </label>
                <input id="password" type="password" class="form-control" asp-for="Password" placeholder="Your password" />
            </div>

            <div class="form-check form-inline row">
                <input id="rememberMe" type="checkbox" class="form-check-input" />
                <label class="form-check-label" for="rememberMe">Remember Me</label>
            </div>

            <br />
            <button type="submit" class="btn btn-light">Login</button>

            <br /><br />

            <div class="row">
                Don't have an account yet? &nbsp;<a asp-action="CreateAccount">Click here to create one.</a>
            </div>

        </form>
    </div>
</div>